*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    max-width: 100%;
}

.new-price{
    color: orangered;
    font-size: 14px;
    display: inline-block;
}

.old-price{
    color: black;
    text-decoration: line-through;
    font-size: 14px;
    display: inline-block;
}

/* BANNER */

.banner{
    height: 50px;
    background-color: orange;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.banner-box{
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
    align-items: center;

}

.customers-type{
    list-style: none;
}

.logo{
    height: 35px;
}

.social-list{
    list-style: none;
    display: flex;
    list-style-type: none;
}

.social-list ul {
    margin: 10px;
}

/* CARD SECTION */

.card-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 80%;
    margin: 0 auto;
    gap: 20px;
    width: calc((100%-40px)/3);
    /* margin-top: 35px; */
    padding: 35px;

}

.card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* flex: 1; */
    height: 500px;
    position: relative;
}

.discount{
    color: white;
    background-color: red;
    position: absolute;
    left: 5px;
    bottom: 25%;
    font-size: small;
}

.sustain{
    color: white;
    background-color: rgb(34, 184, 69);
    position: absolute;
    left: 40px;
    bottom: 25%;
    font-size: small;
}

.only-sustain{
    position: absolute;
    left: 5px;
    bottom: 25%;
    color: white;
    background-color: rgb(34, 184, 69);
}

.heart{
    position: absolute;
    font-size: 30px;
    background-color: white;
    top: 0;
    right: 0;
    z-index: 25;
}

.heart:hover {
    color: red;
}

/* .heart-hover{
    color: red;
}  */

.static-img{
    flex: 1;
    height: auto;
    max-height: 80%;
}

.img-hover{
    flex: 1; /* Occupa lo spazio disponibile */
    height: auto;
    /* max-height: 54.5%; */
    display: none;
    position: absolute;
}

.card:hover .img-hover{
    display: block;
}

/* .img-non hover */

.price{
    max-height: 20%;
    flex: 1;

}

.footer-banner{
    margin: 0 auto;
    height: 90px;
}



.footer-banner{
    background-color: black;
    display: flex;
    color: white;
    justify-content: space-around;
}

.info-boolando{
    display: flex;
    margin: 15px;
    list-style-type: none;
    max-width: 50%;
    justify-content: space-around;
    align-items: flex-start;
}

li{
    
    margin: 7px;
}